.DS_Store
references/*.pdf
.venv/
/data/road.osm
data/road.cpg
data/road.dbf
data/road.prj
data/road.qmd
data/road.shp
data/road.shx
supermap/
__pycache__/
drawio/地图.drawio
dist_matrix.npy
representative_trajectories.npy
res.pickle
track.geojson
qgis/次主路.tif
qgis/次主路.tif.aux.xml
qgis/次主路裁剪后.geojson
qgis/轨迹.tif
qgis/轨迹.tif.aux.xml
qgis/支路.tif
qgis/支路.tif.aux.xml
qgis/支路裁剪后.geojson
qgis/主路.tif
qgis/主路.tif.aux.xml
qgis/主路裁剪后.geojson
qgis/原数据/次主路.json
qgis/原数据/支路.json
qgis/原数据/主路.json
qgis/原数据/extend.geojson
